# Ignore virtual environments
helmax_env/
venv/
.env

# Ignore compiled files
__pycache__/
*.pyc

# Ignore security files
*.pem
*.key

# Ignore OS junk
.DS_Store
Thumbs.db

# Ignore IDE settings
.vscode/
.idea/
myworld

# Ignore media files (user uploads, invoices, etc.)
helmax/media/

# Ignore log files
helmax/logs/
*.log